.imgMitos{
  float: right;
  position: relative;
  top: 200px;
}


.section_consumoAgua img{
  border-radius: 20px;
}

.imgAlm{
  position: relative;
  top: 50px;
  height: 700px;
  margin-left: 0%;
  margin-right: 0%;
  margin: 0;
  padding: 0;
}

.imgAlim2{
  position: relative;
  margin-right: 100%;
  height: 700px;
  /* margin-left: 200px; */
  margin: 0 0 0 200px;
  padding: 0;
}

#cardMaleficios .card-title{
    color: brown;
}

.service_section #cardMaleficios:hover::after{
    background-color: brown;
}

/*Card-Agua */
#cardConsumodeAgua .card-title{
  color: #146781;
}

.service_section #cardConsumodeAgua:hover::after{
  background-color: #85c5d2;
}

.customText{
  display: block;
}

.navbar-brand img{
  width: 250px;
  margin-left: -30px;
}

.imgTop{
  max-height: 100%;
  padding: 60px;
   
}

.imgTop img{
  width: 50%;
  text-align: center !important; 
}

/* Start ALIMENTACAO Informacoes*/
.experiencia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 40px;
  padding: 40px 0px 40px 0px;
}


/* ALIMENTACAO Informacoes*/
.experiencia h1 {
  max-width: 13ch;
  overflow-wrap: break-word;
  color: #cfcfcf;
  font-size: 100px;
  font-style: normal;
  font-weight: 100;
  line-height: 106.5%; /* 175.725px */
  padding: 0px 50px 0px 0px;
}

.experiencia-projeto p {
  color: #171717;
  width: 100%;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.experiencia span {
  color: #171717;
  font-weight: 700;
  line-height: normal;
}

.projeto01 {
  margin-top: 50px;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid var(--c2, #e6e6e6);
  background: var(--c1, #f5f5f5);
  position: relative;
}
 
.detalhe1 {
  content: "";
  position: absolute;
  background: var(--grad, linear-gradient(180deg, var(--text-prkal) 0%, var(--text-garlk) 100%));
  width: 5px;
  height: 20px;
  flex-shrink: 0;
  left: -3px;
}

.projeto01-topo {
  display: flex;
  justify-content: space-between;
}

.projeto01-topo h2 {
  color: var(--c11, #171717);
  font-family: "Fira Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.projeto01-conteudo {
  
}

.projeto01-conteudo p {
  color: var(--c9, #454545);
  width: 230px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: normal; */
  margin-top: 10px;
}

.projeto01-conteudo span {
  color: var(--c9, #454545);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}




.detalhe2 {
  content: "";
  position: absolute;
  background: var(--grad, linear-gradient(180deg, var(--text-prkal) 0%, var(--text-garlk) 100%));
  width: 5px;
  height: 20px;
  flex-shrink: 0;
  left: -3px;
}



@media (max-width: 400px) {
  .experiencia {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3rem;
    margin-left: 0px;
    padding: 20px 0px 0px 20px;
    gap: 20px;
  }

  .experiencia h1 {
    font-size: 1.2rem;
    overflow-wrap: normal;
    color: #cfcfcf;
    padding: 0px;
    margin: 0px;
  }

  .experiencia-projeto-topo p {
    text-align: left;
    width: auto;
    font-size: 1.5rem;
  }

  .projeto01 {
    width: 100px;
  }

  .projeto01-conteudo ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  
  @media (max-width: 650px) {
    .experiencia-projeto-topo p {
      font-size: 1.15rem;
    }

    .projeto01-conteudo p {
      line-height: 1.4;
      max-width: 170px;
    }
  }
}

@media (max-width: 400px) {
  .experiencia {
    padding: 10px 0px 0px 20px;
  }

  .projeto01 {
    width: 270px;
  }
}


@media screen and (max-width: 992px) {
  #buttons{
    height: inherit;
    display: flex;
    align-items: center;
  }
  #button_carousel{
    position: absolute;
  }
}

/* End ALIMENTACAO Informacoes*/

/*Start Mitos e Verdades*/
.respVerdade{
  color: var(--text-grox);
}

.respMito{
  color: brown;
}
/*End Mitos*/

html{
  scroll-behavior: smooth;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
  color: var(--text-prkal);
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
#itensHome:hover{
  color: var(--text-verde);
}

/*End Spinner*/

 /*Button Carousel SAIBA MAIS*/
#aniBtn{
  color: white !important;
  background-color: black !important;
  padding: 10px !important;
  border-radius: 3px !important;
}

#btnTop{
  animation-name: apareceBtn;
  animation-duration: 2s;
  text-decoration: none ;
  background-color: var(--text-prkal);
  color: #fff;
  padding: 10px 15px;
  border-radius: 10%;
  display: block;
}

@keyframes apareceBtn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.dropdown-item{
  background-color: white !important;
}

.custom_heading-text{
  font-size: 20px;
}

.img4{
  margin-top: 40px;
}

.custom_dark-btn{
  background-color: var(--text-garlk) !important;
  border: var(--text-grox) !important;
}

.custom_dark-btn:hover{
  background-color: var(--text-prkal) !important;
}

.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}






