.imgMitos{
  float: right;
  position: relative;
  top: 800px;
}

#cardMaleficios .card-title{
    color: brown;
}

.service_section #cardMaleficios:hover::after{
    background-color: brown;
}

.customText{
  display: block;
}

/* .tituloMitos{
  text-align: center;
} */